.DS_Store
*.pyc
*.egg-info
*.swp
tags
lms/docs/current
__pycache__/
*.py[cod]
*$py.class
node_modules
package-lock.json
frappe-ui

# Ignore public folder EXCEPT frontend (pre-built assets)
lms/public/*
!lms/public/frontend/
!lms/public/js/
!lms/public/.gitkeep